* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: lavender;
    font-family: monospace;
}

header {
    height: 20vh;
    padding: 3rem;
    background: lightblue;
    font-size: 2rem;
}

.panel {
    transform: translateY(-6rem);
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
}

.levels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.level-btn {
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgb(239, 147, 212);
    cursor: pointer;
    transition: 0.5s;
}

.level-btn:hover {
    /* background-color: rgb(242, 181, 115); */
    transform: scale(1.2);
}

.checked {
    background-color: rgb(131, 75, 222);
    color: black;
}

.game-center {
    position: relative;

    width: 80vw;
    height: 80vh;
    background: rgb(198, 232, 189);
    margin: 0 auto;
    padding-top: 6rem;
}

.lives {
    position: absolute;
    margin-left: 2rem;
    font-size: 2rem;
}

.hints {
    position: absolute;
    margin: 4rem 2rem;
    font-size: 2rem;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.5s;
}

.hints:hover {
    transform: scale(1.2);
}

.safe-click {
    position: absolute;
    margin: 12rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(88, 88, 219);
    padding: 1.2rem 1rem;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
}

.safe-click:hover {
    transform: scale(1.2);
}
.undo {
    position: absolute;
    margin: 20rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(221, 182, 39);
    padding: 1.2rem 3.4rem;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
}

.undo:hover {
    transform: scale(1.2);
}
.mega-hint {
    position: absolute;
    margin: 28rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(233, 240, 17);
    padding: 1.2rem 1.3rem;
    color: rgb(109, 121, 7);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
}

.mega-hint:hover {
    transform: scale(1.2);
}

.terminator {
    position: absolute;
    right: 5rem;
    top: 10rem;
    border-radius: 50%;
}

.terminator img {
    margin-top: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.terminator img:hover {
    transform: scale(1.2);
}

.terminator div {
    font-size: 2rem;
}

.timer {
    font-size: 1.5rem;
    border-radius: 20px;
    background: rgb(242, 187, 22);
    border: 2px solid black;
}

.count {
    font-size: 1.5rem;
    border-radius: 20px;
    border: 2px solid black;

    background: rgb(242, 187, 22);
}

.player-btn {
    transform: translateY(-5rem);
    margin: 10px auto;
    width: 4rem;
    height: 4rem;
    background-color: lightpink;
    align-content: center;
    border: 3px solid grey;
}

.player-btn button {
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-bottom: 6px solid rgb(169, 167, 167);
    border-right: 6px solid rgb(169, 167, 167);
}

.board-container {
    transform: translateY(-5rem);
    height: 600px;
    width: 600px;
    margin: auto;
}

table {
    height: 100%;
    width: 100%;
    background: rgb(152, 150, 150);
}

.cell {
    height: 50px;
    width: 50px;
    background: rgb(197, 190, 190);
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
}

.cover {
    background-color: lightgray;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-bottom: 6px solid rgb(169, 167, 167);
    border-right: 6px solid rgb(169, 167, 167);
}

.cover span {
    opacity: 0;
}

.marked {
    display: inline;
}

/*colors of numbers in cell  */
.color-1 {
    color: blue;
}

.color-2 {
    color: green;
}
.color-3 {
    color: red;
}
.color-4 {
    color: yellow;
}
.color-5 {
    color: purple;
}
.color-6 {
    color: brown;
}
.color-7 {
    color: coral;
}
.color-8 {
    color: black;
}

/* .taken {
    background-color: rgb(212, 206, 206);
} */
