* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background: url('../images/keepout.jpg') right/cover no-repeat;
    font-family: monospace;
}

header {
    margin: 0 auto;
    height: 10vh;

    background: transparent;
    font-size: 2rem;
    /* border-bottom: 0.5rem solid rgb(142, 208, 230); */
}

h1 {
    text-shadow: 2px 4px 3px rgba(206, 89, 55, 0.86);
}

.top-panel {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 0.5rem 0.5rem;
    height: 20vh;
    width: 100%;
}

.timer {
    font-size: 1.2rem;
    background: rgb(53, 121, 10);
    height: 90%;
    border-radius: 20%;
    border: 2px solid black;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.count {
    font-size: 1.2rem;
    background: rgb(53, 121, 10);
    height: 90%;
    border-radius: 20%;
    border: 2px solid black;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.levels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.level-btn {
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 20%;
    background-color: rgb(143, 140, 140);
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.level-btn:hover {
    transform: scaleX(1.5);
}

.checked {
    background: rgb(167, 29, 20);
}

.player-btn button {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    background-color: lightgray;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-bottom: 6px solid rgb(169, 167, 167);
    border-right: 6px solid rgb(169, 167, 167);
    transition: 0.5s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.player-btn button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.lives {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-shadow: 2px 4px 3px rgba(206, 89, 55, 0.86);
}

.hints {
    margin-top: 0.5rem;
    font-size: 1.2rem;

    height: 70%;
    border-radius: 20px;
    text-shadow: 2px 4px 3px rgba(206, 89, 55, 0.86);
}

.hints:hover {
    cursor: pointer;
}

.game-center {
    width: 100vw;
    height: 60vh;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 1rem;
}

.board-container {
    height: 20.5rem;
    width: 20.5rem;
    margin: auto;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

table {
    height: 100%;
    width: 100%;
    background: rgb(152, 150, 150);
}

.cell {
    height: 1.5rem;
    width: 1.5rem;
    background: rgb(197, 190, 190);
    font-size: 1rem;
    /* font-weight: 700; */
    cursor: pointer;
}

.cover {
    background-color: lightgray;
    border-top: 0.1rem solid white;
    border-left: 0.1rem solid white;
    border-bottom: 0.1rem solid rgb(169, 167, 167);
    border-right: 0.1rem solid rgb(169, 167, 167);
}

.cover span {
    opacity: 0;
}

.flags {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.5rem auto;
    padding-top: 0.2rem;
    background: rgb(230, 209, 232);
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.bottom-panel {
    background: transparent;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.safe-click {
    background-color: rgb(88, 88, 219);
    font-size: 1rem;
    padding: 0.3rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.safe-click:hover {
    cursor: pointer;
    background-color: rgb(127, 127, 220);
    transform: scale(1.2);
}

.safe-click-on {
    background: rgb(131, 131, 214);
}

.undo {
    background-color: rgb(212, 132, 13);
    padding-top: 0.7rem;
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
    padding-top: 1.2rem;
    margin: 0 auto;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.undo:hover {
    cursor: pointer;
    background-color: rgb(220, 162, 74);
    transform: scale(1.2);
}

.mega-hint {
    background-color: rgb(21, 107, 54);
    padding-top: 0.8rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
    font-size: 1rem;
}

.mega-hint:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(42, 147, 82);
}

.mega-hint-on {
    background-color: rgb(101, 209, 142);
}

.exterminator {
    font-size: 1rem;
    background-color: rgb(162, 46, 21);
    padding-top: 1rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 9px 8px 20px 5px rgba(0, 0, 0, 0.51);
}

.exterminator:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: rgb(219, 114, 91);
}

.pop-boom {
    opacity: 1;
}

.marked {
    display: inline;
}

/*colors of numbers in cell  */
.color-1 {
    color: blue;
}

.color-2 {
    color: green;
}
.color-3 {
    color: red;
}
.color-4 {
    color: yellow;
}
.color-5 {
    color: purple;
}
.color-6 {
    color: brown;
}
.color-7 {
    color: coral;
}
.color-8 {
    color: black;
}

/* .taken {
    background-color: rgb(212, 206, 206);
} */
